<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyj.eblog.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyj.eblog.pojo.Comment">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="parent_id" property="parentId" />
        <result column="post_id" property="postId" />
        <result column="user_id" property="userId" />
        <result column="vote_up" property="voteUp" />
        <result column="vote_down" property="voteDown" />
        <result column="level" property="level" />
        <result column="status" property="status" />
        <result column="created" property="created" />
        <result column="modified" property="modified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, parent_id, post_id, user_id, vote_up, vote_down, level, status, created, modified
    </sql>

    <select id="selectComments" resultType="com.lyj.eblog.Vo.CommentVo">
        SELECT
            c.*,

            u.id AS authorId,
            u.username AS authorName,
            u.avatar AS authorAvatar
        FROM
            m_comment c
                LEFT JOIN m_user u ON c.user_id = u.id

            ${ew.customSqlSegment}
    </select>

</mapper>
